body {
	background-color: rgba(245,245,220,0.5);
}
.admin {
	background-color: rgba(45,75,105,0.5);
}
.jumbotron {
	background: url("../images/alaska.jpg");
	background-position: center;
	background-size: cover;
	margin-top: 40px;
	text-align: center;
}
@media all and (max-width: 768px) {
	h1.display-3 {
		font-size: 2.5rem;
	}
}
#bloc_haut {
	color: aliceblue;
	text-shadow: black 0.1em 0.1em 0.2em;
}
#admin_boutons {
	display: flex;
	justify-content: space-around;
}
#admin_boutons a {
	background-color: darkcyan;
	border-color: darkcyan;
}
#labelNewCom, #labelNewPost, .labelEditPost, .textareaEditPost, #labelEditCom {
	width: 100%;
}
#textareaNewCom, #textareaEditCom {
	height: 100px;
}
#textareaNewPost {
	height: 200px;
}
#textareaEditPost {
	height: 400px;
}
.enteteBillet, #signalements {
	text-align: initial;
}
#affichages_billets, #signalements {
	margin-top: 60px;
}
#addPost{
	margin-top: 30px;
}
#bouton_connexion {
	margin-top: 10px;
}
#img_aventurier {
	width: 100%;
}
#aventurier {
	width: 35%;
	margin: auto;
	margin-bottom: 16px;
}
#bloc_centre, #signalements h3, .liens_billets {
	text-align: center;
}
#billet p, #contenu_billet, #contenuBillet {
	text-align: justify;
}
.liens_billets a {
	margin-top: 25px;
}
.contenuBillet {
	text-align: initial;
}
.contenu_billet {
	text-align: initial;
}
footer {
	position: relative;
	text-align: center;
	margin-top: 60px;
	background-color: darkgrey;
	bottom: -16px;
}
#commentaires {
	text-align: initial;
}
.timeCom {
	position: absolute;
	right: 0px;
}
