body {
	background-color: #f5f5dc80
}
.jumbotron {
	background: url("../images/alaska.jpg");
	background-position: center;
	background-size: cover;
	margin-top: 40px;
	text-align: center;
}

#bloc_haut {
	color: aliceblue;
	text-shadow: black 0.1em 0.1em 0.2em;
}

#labelNewCom, #labelNewPost, .labelEditPost, .textareaEditPost {
	width: 100%;
}

#textareaNewCom {
	height: 100px;
}

#textareaNewPost {
	height: 200px;
}

.textareaEditPost {
	height: 400px;
}

#bloc_centre, #signalements h3 {
	text-align: center;
}
#billet p, #contenu_billet, #contenuBillet {
	text-align: justify;
}
.contenu_billet {
	text-align: initial;
}
footer {
	position: relative;
	text-align: center;
	margin-top: 60px;
	background-color: darkgrey;
	bottom: -16px;
}
#commentaires {
	text-align: initial;
}
.timeCom {
	position: absolute;
	right: 0px;
}
.enteteBillet, #signalements {
	text-align: initial;
}
#affichages_billets, #signalements {
	margin-top: 60px;
}
#bouton_connexion {
	margin-top: 10px;
}
#img_aventurier {
	width: 100%;
}
#aventurier {
	width: 35%;
	margin: auto;
	margin-bottom: 16px;
}